@import "src/assets/styles/index";

.heading {
  color: $dark;
  &.big {
    font-size: 36px;
    font-weight: $bold;
  }

  &.normal {
    font-size: 24px;
    font-weight: $semiBold;
  }

  &.small {
    font-size: 18px;
    font-weight: $semiBold;
  }
}