@font-face {
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-family: SourceSansPro;
  font-weight: $regular;
}

@font-face {
  src: url("../fonts/SourceSansPro-SemiBold.ttf");
  font-family: SourceSansPro;
  font-weight: $semiBold;
}

@font-face {
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-family: SourceSansPro;
  font-weight: $bold;
}