
// Font Weights

$regular: 400;
$semiBold: 600;
$bold: 700;

// Colors

$blue: #0A8DFF;
$dark: #1A1A1A;
$gray: #707070;
$silver: #AAAAAA;
$black: #000;
$white: #fff;

// border radius

$border-radius: 8px;

$shadow: 0 3px 20px rgba($black, .16)